<!DOCTYPE html>
<html>
<head>
<title>Player sign in</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/hc_876x493/public/media/image/2018/12/super-smash-bros-ultimate_1.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-middle w3-jumbo">
    <p>logo</p>
  </div>
  <div class="w3-display-topleft w3-container w3-xlarge">
    <p><button onclick="document.getElementById('start-game').style.display='block'" class="w3-button w3-black">Log in</button></p>
  </div>
  <div class="w3-display-bottomleft w3-container">
    <p class="w3-xlarge">Are you ready to loose your friends and dignity?</p>
    <p class="w3-large">Cartagena Toulouse</p>
    <p>powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </div>
</div>

<!-- Contact Modal -->
<div id="start-game" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black">
      <span onclick="document.getElementById('start-game').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Sign in as player</h1>
    </div>
    <div class="w3-container">
      <p>Please fill next form to start a game:</p>
      <form action="{% url 'inscription' %}" method="POST">
        {% csrf_token %}
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Player Name" required name="name"></p>
        <p><button class="w3-button" type="submit">SIGN UP</button></p>
        {% for avatar in av_list %}
          <input required type="radio" id="{{avatar.0}}" name="av_name" value="{{avatar.0}}">
          <label for="{{avatar.0}}">{{avatar.0}} </label>
          <img src="/apps/RoyalArgmaPartyBros/game_elements/img/characters/{{avatar.1}}" alt="{{avatar.0}}" width="40" height="40">
          <br>
        {% endfor %}
        
    
      </form>
    </div>
  </div>
</div>

</body>
</html>

